force-app/main/default/flows/Solar_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Restocking_Order</name>
        <label>Create Restocking Order</label>
        <locationX>880</locationX>
        <locationY>2078</locationY>
        <actionName>RestockingService.postStockOrder</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Update_Stock_Loop</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Restocking_Order</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Pending_Orders</name>
        <label>Get Pending Orders</label>
        <locationX>792</locationX>
        <locationY>1718</locationY>
        <actionName>RestockingService.getStockOrderPendingByProductId</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Are_there_pending_orders</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>productId</name>
            <value>
                <elementReference>Current_Solar_Panel.Product_Id__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pending_Order</assignToReference>
            <name>200</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Restocking_Order</name>
        <label>Assign Restocking Order</label>
        <locationX>880</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Restocking_Order.productId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Solar_Panel.Product_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Restocking_Order.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Restocking_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Solar_Panel_Item_Collection</name>
        <label>Solar Panel Item Collection</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varSolarPanelItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSolarPanelItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_More_Panels</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Solar_Panel_Order_Item</name>
        <label>Solar Panel Order Item</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varSolarPanelItem.Solar_Panel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Solar_Panel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSolarPanelItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSolarPanelItem.Solar_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Solar_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Solar_Panel_Item_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Substract_Stock</name>
        <label>Substract Stock</label>
        <locationX>968</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Current_Solar_Panel.Stock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substract_Operation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stock</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_More_Panels</name>
        <label>Add More Panels?</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Create_Solar_Panel_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Finished</defaultConnectorLabel>
        <rules>
            <name>Add_more</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buy_More.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Order_Screen</targetReference>
            </connector>
            <label>Add more</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_pending_orders</name>
        <label>Are there pending orders?</label>
        <locationX>792</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Assign_Restocking_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Create Restocking</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pending_Order.pending</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stock_Loop</targetReference>
            </connector>
            <label>Yes, Ignore Restocking</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_we_Restock</name>
        <label>Should we Restock?</label>
        <locationX>968</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Update_Stock_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Check_Pending_Orders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Solar_Panel.Stock__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pending_Orders</targetReference>
            </connector>
            <label>Are there pending orders?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Contact</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Solar_Panel_Collection</name>
        <collectionReference>Get_Solar_Panels</collectionReference>
        <dataType>String</dataType>
        <displayField>Reference__c</displayField>
        <object>Solar_Panel__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Substract_Operation</name>
        <dataType>Number</dataType>
        <expression>IF({!Current_Solar_Panel.Stock__c}-{!Update_Stock_Loop.Quantity__c} &gt; 0, {!Current_Solar_Panel.Stock__c}-{!Update_Stock_Loop.Quantity__c}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Solar Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Solar Order</label>
    <loops>
        <name>Update_Stock_Loop</name>
        <label>Update Stock Loop</label>
        <locationX>616</locationX>
        <locationY>1118</locationY>
        <collectionReference>varSolarPanelItemCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_Solar_Panel</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Order_Confirmation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Solar_Order</name>
        <label>Create Solar Order</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Order_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Solar_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Solar_Panel_Items</name>
        <label>Create Solar Panel Items</label>
        <locationX>616</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_Stock_Loop</targetReference>
        </connector>
        <inputReference>varSolarPanelItemCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Current_Solar_Panel</name>
        <label>Current Solar Panel</label>
        <locationX>968</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Substract_Stock</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Update_Stock_Loop.Solar_Panel__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Solar_Panel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Solar_Panels</name>
        <label>Get Solar Panels</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Solar_Order</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Solar_Panel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Stock</name>
        <label>Update Stock</label>
        <locationX>968</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Should_we_Restock</targetReference>
        </connector>
        <inputReference>Current_Solar_Panel</inputReference>
    </recordUpdates>
    <screens>
        <name>Order_Confirmation</name>
        <label>Order Confirmation</label>
        <locationX>616</locationX>
        <locationY>2486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Order_Confirmation_Message</name>
            <fieldText>&lt;p&gt;Your order has been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Screen</name>
        <label>Order Screen</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Panel_Order_Item</targetReference>
        </connector>
        <fields>
            <name>Select_Solar_Panel</name>
            <fieldText>Select Solar Panel</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Solar_Panel_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Selected_Solar_Panel</name>
                    <choiceReferences>Solar_Panel_Collection</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Solar Panel</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Buy_More</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Buy More?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes, I will buy more panels</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Solar_Panel_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Selected_Quantity</name>
                    <dataType>Number</dataType>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Circles</name>
        <label>Solar Circles Store</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Solar_Panels</targetReference>
        </connector>
        <fields>
            <name>Welcome_Message</name>
            <fieldText>&lt;p&gt;Welcome to &lt;strong&gt;Solar Circles &lt;/strong&gt;Store, to order Solar Panels please tell us who you are and click &lt;strong&gt;Start&lt;/strong&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Who_are_you</name>
            <choiceReferences>Contact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who are you?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Start</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Solar_Circles</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Pending_Order</name>
        <apexClass>ExternalService__RestockingService_pending</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Restocking_Order</name>
        <apexClass>ExternalService__RestockingService_restockOrder</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBuyMore</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSolarPanelItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Solar_Panel_Item__c</objectType>
    </variables>
    <variables>
        <name>varSolarPanelItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Solar_Panel_Item__c</objectType>
    </variables>
</Flow>
